famille.dtd

<!ELEMENT famille (nom, personne*) >
  <!ELEMENT nom (#PCDATA) >
  <!ELEMENT personne (prenom, age, (poids-lb | poids-kg), taille?) >
    <!ATTLIST personne pnumber ID #REQUIRED>
    <!ATTLIST personne mere IDREF #IMPLIED>
    <!ATTLIST personne pere IDREF #IMPLIED>
  <!ELEMENT taille (#PCDATA) >
  <!ELEMENT prenom (#PCDATA) >
  <!ELEMENT age (#PCDATA) >
  <!ELEMENT poids-kg (#PCDATA) >
  <!ELEMENT poids-lb (#PCDATA) >


